<div>
  <button
    mat-raised-button
    style="float: right"
    class="mat-primary"
    (click)="this[this.button.action]()"
  >
    {{ this.button.text }}
  </button>
</div>

<div *ngIf="!this.isScoreboardPage">
  <div class="row" *ngIf="this.currentQuestion$ | async as question">
    <tabe>
      <tr>
        <td>
          <div
            id="spinnerTimeLeft"
            style="
              position: relative;
              width: 100px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 10px;
              padding: 2px;
            "
          >
            <mat-progress-spinner
              style="position: absolute; top: 0; left: 0"
              mode="determinate"
              value="{{ this.spinnerValue }}"
            >
            </mat-progress-spinner>
            <h2>{{ this.timeLeft }}</h2>
          </div>
        </td>
        <td>
          <div>
            <h1>{{ question.label }}</h1>
          </div>
        </td>
      </tr>
    </tabe>
  </div>
  <app-quiz-room-display-true-false></app-quiz-room-display-true-false>
  <app-quiz-room-display-multiple-choice></app-quiz-room-display-multiple-choice>
</div>

<app-scoreboard *ngIf="this.isScoreboardPage"></app-scoreboard>
