<div class="modal-body" [formGroup]="Association">
	<p>
		<mat-form-field appearance="outline" class="form-field-full-width">
			<mat-label>Énoncé de la question</mat-label>
			<input
				matInput
				#questionLabel
				placeholder="Énoncé de la question"
				id="inputQuestionLabel"
				formControlName="questionLabel"
			/>
			<mat-hint align="end">{{questionLabel.value.length}} / 250</mat-hint>
			<mat-error>{{ labelErrorMessage }}</mat-error>
		</mat-form-field>
	</p>
	<div class="mat-form-field-wrapper">
		<mat-checkbox
			id="inputQuestionHasTime"
			formControlName="questionHasTimeLimit"
			>Ajouter un temps limite
		</mat-checkbox>
	</div>
	<p *ngIf="this.Association.get('questionHasTimeLimit').value">
		<mat-form-field appearance="outline" class="form-field-full-width">
			<mat-label>Temps limite de la question</mat-label>
			<input matInput type="number" formControlName="questionTimeLimit" />
			<mat-error>{{ timeLimitErrorMessage }}</mat-error>
		</mat-form-field>
	</p>
	<div>
		<button
			type="button"
			class="btn btn-primary"
			(click)="addChoice()"
			style="margin-top: 1.34375em; margin-bottom: 1.34375em;"
			[disabled]="this.asso.length == 5"
		>
			Ajouter un choix
		</button>

        <div cdkDropListGroup>
            <table class="table-Asso">
                <thead>
                    <th class="table-Asso-Header">
                        <mat-form-field>
				            <mat-label>Catégorie numéro 1</mat-label>
				            <input
				            	matInput
				            	type="text"
				            	[(ngModel)]="categories[0]"
				            	[ngModelOptions]="{standalone: true}"
				            	style="margin-left: 10px; padding-right: 10px;"
				            	placeholder="Catégorie numéro 1"
				            />
				        </mat-form-field>
                    </th>
                    <th class="table-Asso-Header">
                        <mat-form-field>
				            <mat-label>Catégorie numéro 2</mat-label>
				            <input
				            	matInput
				            	type="text"
				            	[(ngModel)]="categories[1]"
				            	[ngModelOptions]="{standalone: true}"
				            	style="margin-left: 10px; padding-right: 10px;"
				            	placeholder="Catégorie numéro 2"
				            />
				        </mat-form-field>
                    </th>
                    <th *ngIf="showCategory3" class="table-Asso-Header">
                        <mat-form-field>
				            <mat-label>Catégorie numéro 3</mat-label>
				            <input
				            	matInput
				            	type="text"
				            	[(ngModel)]="categories[2]"
				            	[ngModelOptions]="{standalone: true}"
				            	style="margin-left: 10px; padding-right: 10px;"
				            	placeholder="Catégorie numéro 1"
				            />
				        </mat-form-field>
                        <button
                            (click)="switchCategory3()"
			                mat-mini-fab
			                color="primary"
			                data-bs-toggle="modal"
			                data-bs-target="#staticBackdrop">
			                <mat-icon>delete</mat-icon>
		                </button>
                    </th>
                    <th *ngIf="!showCategory3">
                        <button class="ms-2"
                            (click)="switchCategory3()"
			                mat-mini-fab
			                color="primary"
			                data-bs-toggle="modal"
			                data-bs-target="#staticBackdrop">
			                <mat-icon>add</mat-icon>
		                </button>
                    </th>
                </thead>
                <tbody *ngIf="asso.length > 0">
					<tr>
                    <td cdkDropList 
					#category1="cdkDropList" 
					[cdkDropListData]=" GetListOfCategory(0)" 
					[cdkDropListConnectedTo]="[category2, category3]" 
					(cdkDropListDropped)="drop($event, 0)" 
					class="table-Asso-Body">
                        <div cdkDrag *ngFor="let a of GetListOfCategory(0)"  class="asso" [cdkDragData]="a">
							<mat-form-field>
                                    <input
                                        matInput
                                        type="text"
                                        [(ngModel)]="a.statement"
                                        [ngModelOptions]="{standalone: true}"
                                        style="margin-left: 10px; padding-right: 10px;"
                                        placeholder="Choix numéro {{a.assoNumber}}"/>
                                </mat-form-field>
                                <button
                                    mat-mini-fab
                                    color="primary"
                                    (click)="removeChoice(a.assoNumber)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>                        
                    </td>
					<td cdkDropList 
					#category2="cdkDropList" 
					[cdkDropListConnectedTo]="[category1, category3]" 
					[cdkDropListData]="GetListOfCategory(1)" 
					(cdkDropListDropped)="drop($event, 1)" 
					class="table-Asso-Body">
							<div cdkDrag *ngFor="let assoCategory2 of GetListOfCategory(1)"   cdkDragBoundary=".table-Asso" class="asso" [cdkDragData]="assoCategory2">
								
									<mat-form-field>
										<input
											matInput
											type="text"
											[(ngModel)]="assoCategory2.statement"
											[ngModelOptions]="{standalone: true}"
											style="margin-left: 10px; padding-right: 10px;"
											placeholder="Choix numéro {{assoCategory2.assoNumber}}"
										/>
									</mat-form-field>
									<button
										mat-mini-fab
										color="primary"
										(click)="removeChoice(assoCategory2.assoNumber)">
										<mat-icon>delete</mat-icon>
									</button>
							</div>
					</td>
					
					<td *ngIf="showCategory3" 
					cdkDropList 
					#category3="cdkDropList" 
					[cdkDropListConnectedTo]="[category2, category1]"
					[cdkDropListData]="GetListOfCategory(2)" 
					(cdkDropListDropped)="drop($event, 2)" 
					class="table-Asso-Body">
							<div cdkDrag *ngFor="let assoCategory3 of GetListOfCategory(2)"   cdkDragBoundary=".table-Asso" class="asso" [cdkDragData]="assoCategory3">
								
									<mat-form-field>
										<input
											matInput
											type="text"
											[(ngModel)]="assoCategory3.statement"
											[ngModelOptions]="{standalone: true}"
											style="margin-left: 10px; padding-right: 10px;"
											placeholder="Choix numéro {{assoCategory3.assoNumber}}"
										/>
									</mat-form-field>
									<button
										mat-mini-fab
										color="primary"
										(click)="removeChoice(assoCategory3.assoNumber)">
										<mat-icon>delete</mat-icon>
									</button>
							</div>
					</td>
					</tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
<div class="modal-footer">
	<button
		type="button"
		class="btn btn-secondary"
		data-bs-dismiss="modal"
		(click)="this.discard()"
		>Annuler</button
	>
	<button
		type="button"
		class="btn btn-primary"
		data-bs-dismiss="modal"
		(click)="submit()"
		[disabled]="checkForm"
		>Soumettre</button
	>
</div>
