<div *ngIf="!this.service.currentShareCode">
  <mat-spinner color="warn"></mat-spinner>Connexion en cours...
</div>
<div *ngIf="this.service.currentShareCode" style="width: 100%; background: transparent; height: 100%"
  class="d-flex flex-column">
  <button [cdkCopyToClipboard]="this.service.currentShareCode" class="m-3" style="width: 240px" mat-raised-button
    color="primary">
    {{ "app.room.waiting.btnShareCode" | translate }}
    {{ this.service.currentShareCode }}
    <mat-icon>content_copy</mat-icon>
  </button>

  <div class="m-3 mb-0">
    <mat-form-field appearance="outline" style="width: 400px">
      <mat-label>{{ "app.room.waiting.timeLimit" | translate }}</mat-label>
      <input (change)="change($event)" matInput type="number" value="10" />
    </mat-form-field>
    <mat-error>{{ this.timeLimitErrorMessage }}</mat-error>
  </div>

  <div class="waitingRoom">
    <div class="d-flex justify-content-evenly align-items-center pt-5 pb-5">
      <div>
        <button mat-raised-button (click)="cancel()" [routerLink]="['/quiz/' + this.quizShareCode]" class="mat-primary">
          {{ "app.room.waiting.cancel" | translate }}
        </button>
      </div>
      <div>
        <div class="d-flex flex-column align-items-center">
          <h1 style="margin-bottom: 0px">
            <strong>{{ "app.room.waiting.title" | translate }}</strong>
          </h1>
          <h3>
            <strong>{{ this.service.users.length }}
              {{ "app.room.waiting.playerNumber" | translate }}</strong>
          </h3>
        </div>
      </div>
      <div>
        <button mat-raised-button (click)="starQuiz()" [disabled]="this.service.users.length < 2" class="mat-primary">
          {{ "app.room.waiting.start" | translate }}
        </button>
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="4:1" class="mb-3">
      <mat-grid-tile *ngFor="let i of this.service.usersDisplay">
        <div class="userCard">
          <img src="{{ this.service.users[i].picture }}" alt="userImage" style="width: 64px; height: 64px" />
          <span matTooltip="{{ this.service.users[i].name }}" [matTooltipClass]="'toolTipCustom'"
            [matTooltipHideDelay]="50">{{ this.service.usersFormated[i] }}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- <table mat-table [dataSource]="this.dataSource" style="width: 70%;">
    User Column
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let message"> {{message.user}} </td>
      <td mat-footer-cell *matFooterCellDef> Votre message </td>
    </ng-container>

    Message Column
    <ng-container matColumnDef="messages">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let message"> {{message.message}} </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="d-flex justify-content-evenly align-items-center">
          <mat-form-field class="form-field-full-width">
            <input matInput placeholder="Votre message" [(ngModel)]="this.currentInput">
          </mat-form-field>
          <button mat-mini-fab color="primary" class="ms-4" (click)="this.addMessage($event)">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table> -->
</div>