<div *ngIf="this.quizRoomComponent.currentQuestion$ | async as question">
  <div *ngIf="question.questionType == 1" class="questionDisplay questionBox">
    <div class="row itemcenter">
      <div
        [ngClass]="
          question.questionTrueFalse.answer &&
          this.quizRoomComponent.isShowResult
            ? 'correctTrue choice1'
            : 'choice1'
        "
        id="truecircle"
        class="circle"
      >
        <div class="row">
          <div class="col-12 d-inline-block">
            <h1>Vrai</h1>
            <mat-icon
              *ngIf="
                question.questionTrueFalse.answer &&
                this.quizRoomComponent.isShowResult
              "
              style="color: green"
              >check_circle</mat-icon
            >
          </div>
          <div class="col-12">
            <h5
              *ngIf="
                question.questionTrueFalse.answer &&
                this.quizRoomComponent.isShowResult
              "
            >
              {{ this.quizRoomComponent.wsService.nbGoodAnswer }} bonnes
              réponses
            </h5>
          </div>
        </div>
      </div>

      <div
        [ngClass]="
          !question.questionTrueFalse.answer &&
          this.quizRoomComponent.isShowResult
            ? 'correctTrue choice2'
            : 'choice2'
        "
        id="falsecircle"
        class="circle"
      >
        <div class="row">
          <div class="col-12 d-inline-block">
            <h1>Faux</h1>
            <mat-icon
              *ngIf="
                !question.questionTrueFalse.answer &&
                this.quizRoomComponent.isShowResult
              "
              style="color: green"
              >check_circle</mat-icon
            >
          </div>
          <div class="col-12">
            <h5
              *ngIf="
                !question.questionTrueFalse.answer &&
                this.quizRoomComponent.isShowResult
              "
            >
              {{ this.quizRoomComponent.wsService.nbGoodAnswer }} bonnes
              réponses
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
