<mat-sidenav-container *ngIf="getUsername()"  class="example-container" style="width: fit-content;">
    <mat-sidenav #sidenav mode="slide" closed style="background-color: #2a2a2a; position: fixed;">
    <div id="drawer-title">
        <div id="toggleButton" >
            <p><a  (click)="sidenav.toggle()">
                <h1> <mat-icon>arrow_back</mat-icon> Quiz Play </h1>
               </a></p>
   
        </div>
               
    </div>
    <div id="drawer-content">
        <table>
            <tr>
                <td>
                    <div>
                        <div *ngIf="auth.user | async as user; else showLogin">
                            <button mat-button class="btnLoginLogout">
                              <div class="d-flex align-items-center justify-content-center">
                                <img [src]="getPicture()" alt="google logo" style="height: 64px; width: 64px;">
                              </div>
                              <span>{{getUsername()}}</span>
                            </button>
                          </div>
                          
                          
                          <ng-template #showLogin>
                            <button mat-button class="btnLoginLogout" style="background-color: #ea5d4f; border-radius: 35.5px; height: 50px;" (click)="login(); sidenav.toggle()">
                              <div class="d-flex align-items-center justify-content-center">
                                <img src="../../assets/google_logo.png" alt="google logo"  style="height: 32px; width: 32px;">
                                <span> Connexion avec Google</span>
                                <!--i class="fas fa-arrow-right ms-3 me-4"></i-->
                              </div>
                            </button>
                          </ng-template>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-grid-list cols="1" rowHeight="5:1" >
                        <mat-grid-tile>
                            <button style="width: 100%;" mat-button [routerLink]="['/list']" (click)="sidenav.toggle()">Mes Quiz</button>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button style="width: 100%;" mat-button [routerLink]="['/quiz']" (click)="sidenav.toggle()">Créer un quiz</button>
                        </mat-grid-tile>
                      </mat-grid-list>
                </td>
            </tr>
            
        </table>
       
    </div>
    <div *ngIf="auth.user | async as user" style="position: fixed; bottom: 0;">
        <button mat-button class="btnLoginLogout" (click)="logout(); sidenav.toggle()">
          <div class="d-flex align-items-center justify-content-center">
              <span>Déonnexion</span>
              <i class="fas fa-sign-out-alt ms-3"></i>
        </div>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content style="width: fit-content; height: 50px;">
     <div id="toggleButton" style="position: fixed;">
         <p><a  (click)="sidenav.toggle()">
             <h1> <mat-icon>menu</mat-icon> Quiz Play </h1>
            </a></p>

     </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  

  