<mat-sidenav-container
  *ngIf="getUsername()"
  class="example-container"
  style="width: fit-content; background-color: transparent"
>
  <mat-sidenav #sidenav mode="slide" closed>
    <div id="drawer-title">
      <div id="toggleButton">
        <p>
          <a (click)="sidenav.toggle()">
            <h1 class="unselectable">
              <mat-icon>arrow_back</mat-icon>&nbsp;<span
                style="font-family: Titan One"
                >Quiz Play</span
              >
            </h1>
          </a>
        </p>
      </div>
    </div>
    <div id="drawer-content" class="d-flex justify-content-center">
      <table>
        <tr id="navContentUserInfo">
          <td>
            <div>
              <div *ngIf="auth.user | async as user">
                <button mat-button class="btnLoginLogout" id="navContentUserButton" style="margin-top: 10px;">
                  <div class="d-flex align-items-center justify-content-center">
                    <img
                      [src]="getPicture()"
                      alt="google logo"
                      style="height: 64px; width: 64px"
                    />
                  </div>
                  <span>{{ getUsername() }}</span>
                </button>
              </div>

            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-grid-list cols="1" rowHeight="5:1">
              <mat-grid-tile>
                <a
                  style="width: 100%"
                  mat-button
                  href="https://cdn.discordapp.com/attachments/801832543351603202/816812194880684032/app-release.apk"
                  download="app-release.apk"
                >
                {{ "app.navigation.download" | translate }}
                </a>
              </mat-grid-tile>
              <mat-grid-tile>
                <button
                  style="width: 100%"
                  mat-button
                  [routerLink]="['/list']"
                  (click)="sidenav.toggle()"
                >
                  {{ "app.navigation.quiz" | translate }}
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button
                  style="width: 100%"
                  mat-button
                  [routerLink]="['/quiz']"
                  (click)="sidenav.toggle()"
                >
                  {{ "app.navigation.createQuiz" | translate }}
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button
                  style="width: 100%"
                  mat-button
                  (click)="sidenav.toggle(); changeLanguage()"
                >
                  {{ "app.navigation.language" | translate }}
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </td>
        </tr>
      </table>
      <div
        *ngIf="auth.user | async as user"
        style="position: fixed; bottom: 0"
        class="navContentButtonLogout d-flex align-items-center justify-content-center"
      >
        <button
          mat-button
          class="btnLoginLogout"
          (click)="logout(); sidenav.toggle()"
        >
          <div class="d-flex align-items-center justify-content-center">
            <span>{{ "app.navigation.disconnect" | translate }}</span>
            <i class="fas fa-sign-out-alt ms-3"></i>
          </div>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="width: fit-content; height: 50px">
    <div id="toggleButton" style="position: fixed">
      <p>
        <a (click)="sidenav.toggle()">
          <h1 class="unselectable">
            <mat-icon>menu</mat-icon>&nbsp;<span style="font-family: Titan One"
              >Quiz Play</span
            >
          </h1>
        </a>
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
