<div *ngIf="this.isLastQuestion">
    <button mat-flat-button style="background-color: tomato;" >Terminé </button>
</div>
<div *ngIf="!this.isLastQuestion">
    <button mat-flat-button style="background-color: tomato;" (click)="nextQuestion()">Next </button>
</div>
<div *ngIf="!this.isScoreboardPage">
    <button mat-flat-button style="background-color: tomato;" (click)="skip()">Skip </button>
</div>
<div *ngIf="!this.isScoreboardPage">
    <div class="row" *ngIf="this.currentQuestion$ | async as question" >
        <h1>{{question.label}}</h1>
        <h1>{{question.timeLimit}}</h1>
        <h1>{{this.timeLeft}}</h1>
        <div></div>
        <div *ngIf="question.questionType == 1">
            <div class="row">
                <div class="col-6" style="height: 200px;width: 200px; background-color: gray; border: solid black 2px;">
                    <h1>Vrai</h1>
                </div>
                <div class="col-6" style="height: 200px;width: 200px; background-color: gray; border: solid black 2px;">
                    <h1>Faux</h1>
                </div>
            </div>
            <div *ngIf="this.isShowResult">
                <h1>Réponse: {{question.questionTrueFalse.answer}}</h1>
            </div>
            
        </div>

        <div *ngIf="question.questionType == 2">
            <div class="row">
                <div *ngFor="let itemMultiple of question.questionMultipleChoice" class="col-2" style="height: 200px;width: 200px; background-color: gray; border: solid black 2px;">
                    <h1> {{itemMultiple.statement}}</h1>
                    <h1>Réponse: {{itemMultiple.answer}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--div class="col-2" style="height: max; background-color: black;">
        <button mat-flat-button style="background-color: tomato;" (click)="nextQuestion()" >Force Next </button>
        
        <mat-grid-list cols="2" rowHeight="1:1" style="display: flex;">
            <mat-grid-tile *ngFor="let i of this.wsService.usersDisplay" >
                <div class="userCard" *ngIf="this.wsService.users[i].isAnswer" style="background-color: green;">
                    <img src="{{this.wsService.users[i].picture}}" alt="userImage" style="width: 64px; height: 64px;"/>
                    <span matTooltip="{{this.wsService.users[i].name}}" [matTooltipClass]="'toolTipCustom'" [matTooltipHideDelay]="50" >
                        {{this.wsService.usersFormated[i]}}
                    </span>
                </div>
                <div class="userCard" *ngIf="!this.wsService.users[i].isAnswer" style="background-color: red;">
                    <img src="{{this.wsService.users[i].picture}}" alt="userImage" style="width: 64px; height: 64px;"/>
                    <span matTooltip="{{this.wsService.users[i].name}}" [matTooltipClass]="'toolTipCustom'" [matTooltipHideDelay]="50" >
                        {{this.wsService.usersFormated[i]}}
                    </span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div-->



<app-scoreboard *ngIf="this.isScoreboardPage"></app-scoreboard>