@import "../src/themes/current-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $background;
}

body .container {
  // z-index: 2;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: relative;
}

body * {
  color: $text;
}

.btnEpic {
  background: $buttons;
  margin-top: 200px !important;
  font-size: 30px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  border-radius: 35.5px !important;
  outline: none !important;
  height: auto;
  width: auto;
}

#triangleBottomRight {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 15%;
  height: 25%;
  background-color: $bubbles-triangle;
  clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
  z-index: 1;
}

#circleTopRight {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: $circles;
  clip-path: circle(40% at 90% 0);
  z-index: 0;
}
#circleBottomLeft {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: $circles;
  clip-path: circle(34.4% at -10% 88%);
  z-index: 0;
}
.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}
div.mat-form-field-wrapper.ng-tns-c30-0 {
  padding-bottom: 0em !important;
}
.form-field-full-width {
  width: 100%;
}

.example-box:hover {
  background-color: $circles;
}
.quizHeader,
.questionBox,
.waitingRoom,
.questionDisplay {
  background: $background;
  border: 7.5px $bubbles-triangle solid !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.questionItem {
  border-bottom: 2px $bubbles-triangle solid !important;
}
.questionItem:hover,
.activeQuestion {
  background-color: $bubbles-triangle !important;
}
input:not([disabled])[type="text"],
textarea:not([disabled]) {
  color: $text;
}
.gradient-border {
  background: $bubbles-triangle;
}
.clickableThing:hover {
  cursor: pointer;
  color: $text;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#navContentUserInfo,
#navContentUserInfo:hover {
  background-color: $background !important;
  background: $background !important;
}
#navContentUserButton {
  border-bottom: 2px solid $bubbles-triangle;
}
.navContentButtonLogout:hover {
  background-color: $bubbles-triangle;
}
.createQuizDiv,
.waitingRoom,
.questionDisplay {
  border-radius: 7.5px;
}
#makeTheQuizPublic .mat-checkbox-layout {
  width: auto !important;
  display: inline !important;
}
#makeTheQuizPublic .mat-checkbox-label {
  width: auto;
  display: inline-block;
  padding-right: 0px;
}
.userCard {
  // border: 0.20em solid salmon;
  color: $text;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 8px;
  height: 85%;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.userCard:hover {
  background-color: $circles;
}

#trueSquare {
  background-color: #292929;
  border-radius: 7.5px;
}

//Material components
.mat-fab.mat-primary {
  background-color: $buttons;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $bubbles-triangle;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $buttons;
}
.mat-slide-toggle-thumb {
  background-color: $text;
}
.mat-snack-bar-container {
  background: $bubbles-triangle;
}
table tr:not(.mat-header-row):hover {
  background-color: $bubbles-triangle;
}
.mat-mini-fab.mat-accent {
  background-color: $buttons;
}
.mat-paginator {
  color: $text;
  background: $background;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  border-left: 7.5px $bubbles-triangle solid !important;
  border-bottom: 7.5px $bubbles-triangle solid !important;
  border-right: 7.5px $bubbles-triangle solid !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mat-table {
  background: $background;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-collapse: unset;
  border-left: 7.5px $bubbles-triangle solid !important;
  border-top: 7.5px $bubbles-triangle solid !important;
  border-right: 7.5px $bubbles-triangle solid !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mat-raised-button.mat-primary,
.mat-raised-button,
.mat-raised-button.mat-warn,
.mat-mini-fab.mat-primary {
  background-color: $buttons;
  color: $text;
}
.mat-input-element {
  caret-color: $circles;
}
.mat-input-element:disabled {
  color: $text;
}
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: $bubbles-triangle !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $bubbles-triangle;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $bubbles-triangle;
}
.mat-select-panel {
  background: $bubbles-triangle;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-option:hover {
  background: rgba(0, 0, 0, 0.12) !important;
}
.mat-option {
  color: $text !important;
}
.mat-sidenav {
  background-color: $background;
  position: fixed !important;
}
.mat-cell {
  color: $text;
}
table tr td mat-grid-list div mat-grid-tile:hover {
  background-color: $bubbles-triangle;
}
table tr td:not(.mat-cell):hover {
  background-color: $background;
}
.mat-dialog-container {
  color: $text !important;
  background: $background !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $bubbles-triangle !important;
}
.mat-ripple-element {
  display: none !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $bubbles-triangle;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $bubbles-triangle !important;
}
.mat-checkbox-layout {
  width: 100% !important;
  display: inline !important;
}
.mat-checkbox-label {
  width: 100%;
  display: inline-block;
  padding-right: 30px;
}
.mat-progress-spinner circle {
  stroke: $bubbles-triangle !important;
}

//Bootstrap components
.modal-header,
.modal-body,
.modal-footer {
  background-color: $background;
}
.btn-primary {
  background-color: $buttons !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
  background: $buttons !important;
  color: $text !important;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
