/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: #303030;
	color: rgb(223, 210, 210);
}
.cdk-overlay-container,
.cdk-overlay-pane {
	z-index: 9999 !important;
}
div.mat-form-field-wrapper.ng-tns-c30-0 {
	padding-bottom: 0em !important;
}
.form-field-full-width {
	width: 100%;
}
