html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #003d5b;
}

body .container {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: relative;
}

body * {
  color: #edae49;
}

.btnEpic {
  background: rgba(209, 73, 91, 0.75);
  margin-top: 200px !important;
  font-size: 30px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  border-radius: 35.5px !important;
  outline: none !important;
  height: auto;
  width: auto;
}

#triangleBottomRight {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 15%;
  height: 25%;
  background-color: #30638e;
  -webkit-clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
  z-index: 1;
}

#circleTopRight {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #d1495b;
  -webkit-clip-path: circle(40% at 90% 0);
          clip-path: circle(40% at 90% 0);
  z-index: 0;
}

#circleBottomLeft {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #d1495b;
  -webkit-clip-path: circle(34.4% at -10% 88%);
          clip-path: circle(34.4% at -10% 88%);
  z-index: 0;
}

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

div.mat-form-field-wrapper.ng-tns-c30-0 {
  padding-bottom: 0em !important;
}

.form-field-full-width {
  width: 100%;
}

.example-box:hover {
  background-color: #d1495b;
}

.quizHeader,
.questionBox {
  background: #003d5b;
  border: 7.5px #30638e solid !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questionItem {
  border-bottom: 2px #30638e solid !important;
}

.questionItem:hover,
.activeQuestion {
  background-color: #30638e !important;
}

input:not([disabled])[type="text"],
textarea:not([disabled]) {
  color: #edae49;
}

.gradient-border {
  background: #30638e;
}

.clickableThing:hover {
  cursor: pointer;
  color: #edae49;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navContentUserInfo,
#navContentUserInfo:hover {
  background-color: #003d5b !important;
  background: #003d5b !important;
}

#navContentUserButton {
  border-bottom: 2px solid #30638e;
}

.navContentButtonLogout:hover {
  background-color: #30638e;
}

.createQuizDiv {
  border-radius: 7.5px;
}

.mat-fab.mat-primary {
  background-color: rgba(209, 73, 91, 0.75);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #30638e;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgba(209, 73, 91, 0.75);
}

.mat-slide-toggle-thumb {
  background-color: #edae49;
}

.mat-snack-bar-container {
  background: #30638e;
}

table tr:not(.mat-header-row):hover {
  background-color: #30638e;
}

.mat-mini-fab.mat-accent {
  background-color: rgba(209, 73, 91, 0.75);
}

.mat-paginator {
  color: #edae49;
  background: #003d5b;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  border-left: 7.5px #30638e solid !important;
  border-bottom: 7.5px #30638e solid !important;
  border-right: 7.5px #30638e solid !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-table {
  background: #003d5b;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-collapse: unset;
  border-left: 7.5px #30638e solid !important;
  border-top: 7.5px #30638e solid !important;
  border-right: 7.5px #30638e solid !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-raised-button.mat-primary,
.mat-raised-button,
.mat-raised-button.mat-warn {
  background-color: rgba(209, 73, 91, 0.75);
  color: #edae49;
}

.mat-input-element {
  caret-color: #d1495b;
}

.mat-input-element:disabled {
  color: #edae49;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: #30638e !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #30638e;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #30638e;
}

.mat-select-panel {
  background: #30638e;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-option:hover {
  background: rgba(0, 0, 0, 0.12) !important;
}

.mat-option {
  color: #edae49 !important;
}

.mat-sidenav {
  background-color: #003d5b;
  position: fixed !important;
}

.mat-cell {
  color: #edae49;
}

table tr td mat-grid-list div mat-grid-tile:hover {
  background-color: #30638e;
}

table tr td:not(.mat-cell):hover {
  background-color: #003d5b;
}

.mat-dialog-container {
  color: #edae49 !important;
  background: #003d5b !important;
}
/*# sourceMappingURL=styles.css.map */