<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="d-flex h-100 justify-content-center align-items-center flex-column homePageElements">
    <p class="title">
      <span id="q">Q</span>
      <span id="u">u</span>
      <span id="i">i</span>
      <span id="z">z</span>&nbsp;
      <span id="p">P</span>
      <span id="l">l</span>
      <span id="a">a</span>
      <span id="y">y</span>
    </p>
    <app-login></app-login>
  </div>
  <div class="backgroundShapes">
    <div id="triangleBottomRight"></div>
    <div class="bubble" id="bigBubble"></div>
    <div class="bubble" id="mediumBubble"></div>
    <div class="bubble" id="smallBubble"></div>
  </div>
</div>
