html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1f1f1f;
}

body .container {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: relative;
}

body * {
  color: #e5e5e5;
}

.btnEpic {
  background: rgba(255, 0, 31, 0.75);
  margin-top: 200px !important;
  font-size: 30px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  border-radius: 35.5px !important;
  outline: none !important;
  height: auto;
  width: auto;
}

#triangleBottomRight {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 15%;
  height: 25%;
  background-color: #8e3939;
  -webkit-clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
  z-index: 1;
}

#circleTopRight {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #545454;
  -webkit-clip-path: circle(40% at 90% 0);
          clip-path: circle(40% at 90% 0);
  z-index: 0;
}

#circleBottomLeft {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #545454;
  -webkit-clip-path: circle(34.4% at -10% 88%);
          clip-path: circle(34.4% at -10% 88%);
  z-index: 0;
}

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

div.mat-form-field-wrapper.ng-tns-c30-0 {
  padding-bottom: 0em !important;
}

.form-field-full-width {
  width: 100%;
}

.mat-fab.mat-primary {
  background-color: rgba(255, 0, 31, 0.75);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #8e3939;
}

.mat-slide-toggle-thumb {
  background-color: #e5e5e5;
}

.mat-snack-bar-container {
  background: #8e3939;
}

.example-box:hover {
  background-color: #545454;
}

.quizHeader, .questionBox {
  background: #1f1f1f;
  border: 7.5px #8e3939 solid !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questionItem {
  border-bottom: 2px #8e3939 solid !important;
}

.questionItem:hover, .activeQuestion {
  background-color: #8e3939 !important;
}

.mat-raised-button.mat-primary {
  background-color: rgba(255, 0, 31, 0.75);
}

.mat-input-element {
  caret-color: #545454;
}

.mat-input-element:disabled {
  color: #e5e5e5;
}

input:not([disabled])[type="text"], textarea:not([disabled]) {
  color: #e5e5e5;
}

.gradient-border {
  background: #8e3939;
}

.clickableThing:hover {
  cursor: pointer;
  color: #e5e5e5;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homePageElements {
  position: absolute;
  top: 40vh;
  z-index: 5;
}

.title {
  height: 200px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-shadow: 1px 5px 0px #545454, 2px 10px 0px #8e3939;
}

#triangleBottomRight {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 30%;
  height: 50%;
  background-color: #8e3939;
  -webkit-clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
  z-index: 1;
}

.bubble {
  position: fixed;
  background-color: #8e3939;
  border-radius: 50%;
  z-index: 1;
  -webkit-box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.3);
}

#bigBubble {
  left: 90px;
  bottom: 200px;
  width: 250px;
  height: 250px;
}

#mediumBubble {
  left: 250px;
  bottom: 460px;
  width: 150px;
  height: 150px;
}

#smallBubble {
  left: 100px;
  bottom: 570px;
  width: 100px;
  height: 100px;
}

@-webkit-keyframes letters {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes letters {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.title > span {
  -webkit-animation-name: letters;
          animation-name: letters;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#q {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

#u {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

#i {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

#z {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

#p {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

#l {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

#a {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#y {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
/*# sourceMappingURL=home-page.component.css.map */