<div class="modal fade" id="modifyQuestion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modifyQuestionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div style="display: flex; justify-content: center; flex-direction: column;">
          <h3 class="modal-title mb-0" id="modifyQuestionLabel">Modifier une question</h3>
          <mat-form-field appearance="outline" disabled>
            <mat-label>Type de question</mat-label>
            <mat-select [(value)]="this.selectedType" disabled>
              <mat-option *ngFor="let i of this.iterator" value="{{this.enumValues[i]}}">
                {{this.enumFormated[i]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseDiscarded()"></button>
      </div>
      <div *ngIf="this.question.questionType == 1">
        <div class="modal-body" [formGroup]="TrueFalse">
          <p>
            <mat-form-field appearance="outline" class="form-field-full-width">
              <mat-label>Énoncé de la question</mat-label>
              <input matInput #questionLabel placeholder="Énoncé de la question" id="inputQuestionLabel"
                formControlName="questionLabel" value="{{this.questionTrueFalse.label}}" />
              <mat-hint align="end">{{questionLabel.value.length}} / 250</mat-hint>
              <mat-error>{{ labelErrorMessage }}</mat-error>
            </mat-form-field>
          </p>
          <p class="mat-form-field-wrapper">
            <mat-checkbox id="inputQuestionHasTime" formControlName="questionHasTimeLimit">Ajouter un temps limite
            </mat-checkbox>
          </p>
          <p *ngIf="this.TrueFalse.get('questionHasTimeLimit').value">
            <mat-form-field appearance="outline" class="form-field-full-width">
              <mat-label>Temps limite de la question</mat-label>
              <input matInput type="number" formControlName="questionTimeLimit" />
              <mat-error>{{ timeLimitErrorMessage }}</mat-error>
            </mat-form-field>
          </p>
          <p class="mat-form-field-wrapper">
            <mat-label style="padding-left: 0.75em;">Bonne réponse à la question</mat-label><br />
            <mat-radio-group aria-label="True or False radio" formControlName="questionAnswer"
              [(value)]="this.questionTrueFalse.answer">
              <mat-radio-button [value]="true" style="margin-right: 15px; padding-top: 1em;"
                [checked]="this.questionTrueFalse.answer">Vrai</mat-radio-button>
              <mat-radio-button [value]="false" [checked]="!this.questionTrueFalse.answer">Faux</mat-radio-button>
            </mat-radio-group><br />
          </p>
        </div>
      </div>
      <div *ngIf="this.question.questionType == 2">
        <div class="modal-body" [formGroup]="MultipleChoice">
          <p>
            <mat-form-field appearance="outline" class="form-field-full-width">
              <mat-label>Énoncé de la question</mat-label>
              <input matInput #questionLabel placeholder="Énoncé de la question" id="inputQuestionLabel"
                formControlName="questionLabel" value="{{this.questionMultipleChoice.label}}" />
              <mat-hint align="end">{{questionLabel.value.length}} / 250</mat-hint>
              <mat-error>{{ labelErrorMessage }}</mat-error>
            </mat-form-field>
          </p>
          <div class="mat-form-field-wrapper">
            <mat-checkbox id="inputQuestionHasTime" formControlName="questionHasTimeLimit">Ajouter un temps limite
            </mat-checkbox>
          </div>
          <p *ngIf="this.MultipleChoice.get('questionHasTimeLimit').value">
            <mat-form-field appearance="outline" class="form-field-full-width">
              <mat-label>Temps limite de la question</mat-label>
              <input matInput type="number" formControlName="questionTimeLimit" />
              <mat-error>{{ timeLimitErrorMessage }}</mat-error>
            </mat-form-field>
          </p>
          <div>
            <button type="button" class="btn btn-primary" (click)="addChoice()"
              style="margin-top: 1.34375em; margin-bottom: 1.34375em;" [disabled]="this.choices.length == 8">
              Ajouter un choix
            </button>
            <div *ngIf="this.choices.length != 0">
              <mat-label style="padding-left: 0.75em;">Choix de la question<span
                  style="font-size: x-small; color: gainsboro; margin-left: 5px;">(min 2, max 8)</span></mat-label>
              <br />
              <div *ngFor="let choice of this.choices">
                <mat-checkbox value="{{choice.answer}}" style="margin-right: 30px;" [(ngModel)]="choice.answer"
                  [ngModelOptions]="{standalone: true}">
                  <mat-form-field>
                    <mat-label>Choix numéro {{choice.choiceNumber}}</mat-label>
                    <span matPrefix><strong>{{choice.choiceNumber}}. &nbsp;</strong></span>
                    <input matInput type="text" [(ngModel)]="choice.statement" [ngModelOptions]="{standalone: true}"
                      style="margin-left: 10px; padding-right: 10px;"
                      placeholder="Choix numéro {{choice.choiceNumber}}" />
                  </mat-form-field>
                </mat-checkbox>
                <button mat-mini-fab color="primary" (click)="removeChoice(choice.choiceNumber)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="this.trueAnswers > 1" class="form-field-full-width d-flex align-items-center"
              style="margin-top: 1.34375em;">
              <mat-radio-group aria-label="Need all the answers" [(ngModel)]="this.needsAllRightAnswers"
                [ngModelOptions]="{standalone: true}">
                <mat-radio-button [value]="false" style="margin-bottom: 0.75em;" [checked]="!this.needsAllRightAnswers">
                  1 bonne réponse pour avoir le point
                </mat-radio-button>
                <br />
                <mat-radio-button [value]="true" [checked]="this.needsAllRightAnswers">Toutes les bonnes réponses pour
                  avoir le point</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="this.discard()">Annuler</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sumbit()"
          [disabled]="this.checkForm ? true : false">Soumettre</button>
      </div>
    </div>
  </div>
</div>
