<div *ngIf="this.service.currentQuiz" class="justify-content-between d-flex">
	<button
		[cdkCopyToClipboard]="this.service.currentQuiz.shareCode"
		class="m-3"
		style="width: 240px;"
		mat-raised-button
		color="primary"
		>Code de partage: {{this.service.currentQuiz.shareCode}}
		<mat-icon>content_copy</mat-icon></button
	>
	<button
		[disabled]="this.service.currentQuestions.length < 1"
		mat-raised-button
		class="m-3"
		color="primary"
		(click)="finish()"
		[routerLink]="['/list']"
		>Terminé</button
	>
</div>
<button
	(click)="goLive()"
	routerLinkActive="router-link-active"
	class="ms-3"
	mat-raised-button
	color="primary"
	style="margin-left: 5px;"
>
	Créer une salle d'attente
</button>
<h2 class="sectionHeader">Informations du quiz</h2>
<div class="quizHeader">
	<h1 class="text-center mb-5">{{this.service.currentQuiz.title}}</h1>
	<h2>
		{{this.service.currentQuiz.description}}
	</h2>

	<h3 class="text-end m-0">
		<mat-icon
			style="font-size: 30px;"
			[matTooltip]="this.service.currentQuiz.isPublic ? 'Le quiz est public' : 'Le quiz est privé'"
			>{{this.service.currentQuiz.isPublic ? 'public' : 'public_off'}}
		</mat-icon>
	</h3>
</div>

<div>
	<div class="d-flex justify-content-between">
		<h2 class="sectionHeader">Questions du quiz</h2>
		<button
			class="questionButtonAddRemove"
			mat-fab
			color="primary"
			data-bs-toggle="modal"
			data-bs-target="#staticBackdrop"
		>
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<div class="questionBox">
		<div cdkDropListGroup (mouseleave)="this.selectedQuestion = null;">
			<div
				cdkDropList
				[cdkDropListData]="this.service.currentQuestions"
				class="question-list"
				(cdkDropListDropped)="drop($event)"
			>
				<div
					class="questionItem"
					cdkDragLockAxis="y"
					cdkDragBoundary=".question-list"
					*ngFor="let item of this.service.currentQuestions"
					cdkDrag
					[class.activeQuestion]="selectedQuestion === item"
					(mouseover)="selectedQuestion = item"
					(cdkDragStarted)="selectedQuestion = item"
				>
					<div class="row">
						<div class="col-5">
							<h2>{{item.label}} </h2>
						</div>
						<div class="col-2">
							<h2 [ngSwitch]="this.enum[item.questionType]">
								<span *ngSwitchCase="'TrueFalse'">Vrai ou Faux</span>
								<span *ngSwitchCase="'MultipleChoices'">Choix Multiples</span>
								<span *ngSwitchDefault></span>
							</h2>
						</div>
						<div class="col-1"></div>
						<div class="col-3">
							<button
								*ngIf="selectedQuestion === item"
								class="questionButtonAddRemove"
								mat-fab
								color="primary"
								(click)="putFirst()"
							>
								<mat-icon>expand_less</mat-icon>
							</button>
							<button
								*ngIf="selectedQuestion === item"
								class="questionButtonAddRemove"
								mat-fab
								color="primary"
								(click)="putLast()"
							>
								<mat-icon>expand_more</mat-icon>
							</button>
							<button
								*ngIf="selectedQuestion === item"
								class="questionButtonAddRemove"
								mat-fab
								color="primary"
							>
								<mat-icon>edit</mat-icon>
							</button>
						</div>
						<div class="col-1">
							<button
								class="questionButtonAddRemove"
								id="add-button"
								mat-fab
								color="primary"
								(click)="deleteQuestion(item.id)"
							>
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
